{% extends 'pur_beurre/layouts/base.html' %}
{% load static %}

{% block content %}

<section id="legal">
  <div class="container">

    <div class="row">
        <div class="col-lg-8 text-center">
            <img class="sr-icons img-product" src="{{ food_json.product.image_url}}" alt="">
        </div>
        <div class="col-lg-4 text-center">
            <img src="https://static.openfoodfacts.org/images/misc/nutriscore-{{ food_json.product.nutrition_grades }}.svg" alt="">
        </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ food_json.product.product_name }} de la marque {{ food_json.product.brands }}</h2>
      </div>
    </div>
  </div>
        <hr class="my-4">
    <div class="container">
        <div class="row">
             <div class="col-lg-12 text-center">
            <p>Le produit a bien été sauvegardé.</p>
            <p>Vous pouvez retrouver vos produits enregistrés sur <a href="{% url 'saved-products' %}">votre page produits sauvegardés.</a></p>

             </div>
        </div>

</section>
{% endblock content %}
